<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="MailClient" class="mail.MailClient">
        <property name="host" value="smtp.mailtrap.io" />
        <property name="portSMTP" value="25" />
        <property name="portPOP3" value="1100" />
        <property name="username" value="75f1ea16e05565" />
        <property name="password" value="06551260b74810" />
        <property name="from" value="guillaume5524@gmail.com" />
    </bean>
</beans>